<td  class="score-column">
    <div data-bind="text: score" class="grey score-wrapper"></div>
</td>
<td class="title-column">
    <span data-bind="text: title, click: onPostClick" class=" post-list-element-title"></span>
    <div>
        <span class="post-list-element-tag">Java</span>
        <span class="post-list-element-tag">JavaScript</span>
    </div>
</td>
<td class="date-column">
    <div data-bind="text: date" class="grey date-wrapper"></div>
</td>
<td><div class="marked-outline"></div></td>

