.column {
    float: left;
    width: 33.33%;
}
.table thead th {
    color: #959595;
    border-bottom: none;
    border-top: none;
    font-size: 12px;
    font-weight: 400;
}
.table td {
    font-size: 14px;
}
.score-column {
    width: 10%;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.remove-margin-sites {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;

}