.post-list-element-title {
    color: #009DFF;
    cursor: pointer;
}
.post-list-element-tag {
    color: #77C6F7;
    font-size: 11px;
    cursor: pointer;
}
.date-wrapper, .score-wrapper {
    padding-top: 10px;
}
.marked-outline, marked-filled {
    margin-top: 3px;
}

