.post-list-element-title {
    color: #009DFF;
    cursor: pointer;
}
.post-list-element-tag {
    color: #77C6F7;
    font-size: 11px;
    cursor: pointer;
}

.marked-outline, marked-filled {
    margin-top: 3px;
}
.title-column-values-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.isAnswer-indicator {
    margin-left: 8px;
    font-size: 12px;
    font-weight: 500;
}

