<div class="padding-left-right">

<h2 class="purple">My Profile</h2>
<hr class="remove-margin-top">

<div class="container-fluid">
    <div class="row">

        <div class="col-sm padding-bottom">
            <p class="remove-margin-bottom grey">USERNAME</p>
            <h3 class="blue">mrQuestions</h3>
        </div>

        <div class="col-sm padding-bottom">
            <p class="remove-margin-bottom grey">LOCATION</p>
            <h3 class="blue">Sri Lanka</h3>
        </div>

        <div class="col-sm padding-bottom">
            <p class="remove-margin-bottom grey">PHONE</p>
            <h3 class="blue">+49 4949 43894</h3>
        </div>

    </div>
</div>

<div class="container-fluid padding-bottom">
    <div class="row">
        <div class="col-sm">
            <p class="remove-margin-bottom grey">ADRESS</p>
            <h3 class="blue">Hyde Park 8</h3>

        </div>
        <div class="col-sm">
            <p class="remove-margin-bottom grey">FULL NAME</p>
            <h3 class="blue">Peter Parker</h3>
        </div>

        <div class="col-sm">
            <p class="remove-margin-bottom grey">CREATION DATE</p>
            <h3 class="blue">15-04-2001</h3>
        </div>
    </div>
</div>

</div>




<div data-bind="component: {name: postListName, params:{onPostClick: onPostClick}}">


</div>







