<div class="padding-left-right">

<h2 class="purple">My Profile</h2>
<hr class="remove-margin-top">

<div class="container-fluid">
    <div class="row">

        <div class="col-sm padding-bottom">
            <p class="remove-margin-bottom grey">USERNAME</p>
            <h3 class="blue" data-bind="text: name"></h3>
        </div>

        <div class="col-sm padding-bottom">
            <p class="remove-margin-bottom grey">LOCATION</p>
            <h3 class="blue" data-bind="text: location" ></h3>
        </div>

        <div class="col-sm padding-bottom">
            <p class="remove-margin-bottom grey">EMAIL</p>
            <h3 class="blue" data-bind="text: email"></h3>
        </div>

    </div>
</div>

<div class="container-fluid padding-bottom">
    <div class="row">
        <div class="col-sm">
            <p class="remove-margin-bottom grey">CREATION DATE</p>
            <h3 class="blue" data-bind="text: creationDate"></h3>
        </div>
    </div>
</div>

</div>




<div data-bind="component: {name: postListName, params:{onPostClick: onPostClick, userId: 1}}">


</div>







