<h2 class="purple">My Profile</h2>
<hr class="remove-margin-top">

<div class="container-fluid">
    <div class="row">

        <div class="col-sm padding-after">
            <p class="remove-margin-buttom">USERNAME</p>
            <h2>mrQuestions</h2>
        </div>

        <div class="col-sm padding-after">
            <p class="remove-margin-buttom">LOCATION</p>
            <h2>Sri Lanka</h2>
        </div>

        <div class="col-sm padding-after">
            <p class="remove-margin-buttom">PHONE</p>
            <h2>+49 4949 43894</h2>
        </div>

    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm padding-after">
            <p class="remove-margin-buttom">ADRESS</p>
            <h2>Hyde Park 8</h2>

        </div>
        <div class="col-sm padding-after">
            <p class="remove-margin-buttom">FULL NAME</p>
            <h2>Peter Parker</h2>
        </div>

        <div class="col-sm padding-after">
            <p class="remove-margin-buttom">CREATION DATE</p>
            <h2>15-04-2001</h2>
        </div>
    </div>
</div>
